
.ui.borderless.topmenu.menu {
  background-color: none;
  box-shadow: none;
  border: none;
  padding: 20px;
}

.ui.borderless.middlemenu.menu {
  background-color: none;
  box-shadow: none;
  border: none;
}